<h1>Cooking Records Album</h1>

<% @cooking_records.each do |record| %>
  <div>
    <img src="<%= record['image_url'] %>" alt="Record image">
    <p><%= record['comment'] %></p>
    <p><%= record['recipe_type'] %></p>
    <p><%= record['recorded_at'] %></p>
  </div>
<% end %>